#-*-ruby-*-
load 'deploy' if respond_to?(:namespace) # cap2 differentiator

default_run_options[:pty] = true

# be sure to change these
set :user, 'username'
set :domain, 'yourdomain.com'
set :application, 'yourapp'
set :git_user 'username'
set :git_host 'github.com'

# the rest should be good
set :repository,  "#{git_user}@#{git_domain}:git/#{application}.git"
set :deploy_to, "/home/#{user}/#{domain}"
set :deploy_via, :remote_cache
set :scm, 'git'
set :branch, 'master'
set :git_shallow_clone, 1
set :scm_verbose, true
set :use_sudo, false

server domain, :app, :web

namespace :deploy do
  task :restart do
    run "test -d #{current_path}/tmp || mkdir #{current_path}/tmp"
    run "touch #{current_path}/tmp/restart.txt"
  end
end
